@font-face {
    font-family: "Source Sans 3";
    src: url(../fonts/SourceSans3-VariableFont_wght.ttf);
}
body, html {
    margin: 0;
    padding: 0;
    font-family: "Source Sans 3";
}
.logoSite {
    padding: 1em 2em;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #ffffff;
}
.homeAbout {
    display: flex;
    gap: 2.5em;
    justify-content: space-between;
    font-size: 16px;
    letter-spacing: 0px;
    color: #6dc5dd;
    font-weight: 700;
    font-family: "Source Sans 3";
}
.homeAbout a {
    text-decoration: none;
    margin-right: 1em;
}
.homeAbout a:not(:last-child) {
    border-right: 1px solid #e7e7e7;
    padding-right: 2.5em;
}
.homeAbout a:first-child {
    color: #6dc5dd;
}
.homeAbout a:not(:first-child) {
    color: #787878
}
.article1 {
    box-sizing: border-box;
    width: 100%;
    background-image: url(../img/bg.webp);
}
.banner1 {
    padding-top: 2em;
    display: flex;
    justify-content: left;
    gap: 8%;
    margin-left: 7%;
}
.bannerTxt {
    margin-top: 1em;
    font-family: "Source Sans 3";
    display: flex;
    flex-direction: column;
    align-content: center;
    overflow: hidden;
    width: 34%;
}
.banner1 p {
    margin: 0;
}
.bannerTxt p:first-child {
    
    color: #003d48;
    font-weight: 300;
    font-size: 31px;
}
.bannerTxt p:nth-child(2) {
    text-transform: uppercase;
    font-size: 43px;
    font-weight: bolder;
}
.bannerTxt p:nth-child(3) {
    font-size: 18px;
    color: #8b8b8b;
    padding-bottom: 1em;
}
.bannerButtn {
    display: block;
    text-decoration: none;
    color: white;
    background-color: #f77462;
    border: 4px solid #f77462;
    border-radius: 3px;
    text-align: center;
    cursor: pointer;
    width: 7.5em;
    padding: 0.5em 0;
}
.article2 {
    background-color: #6dc5dd;
}
.article2 > div {
    padding-top: 1em;
}
.banner2 {
    display: flex;
    justify-content: center;
}
.middle {
    display: flex;
    align-items: flex-start;
    gap: 2em;
}
.middle img:not(span img) {
    margin-top: 1em;
}
.middle img:first-of-type:not(span img) {
    padding-left: 1em;
}
.middleTxt p:first-child:not(span p) {
    font-size: 20px;
    line-height: 29px;
    color: #ffffff;
    font-weight: 700;
    font-family: "Source Sans 3";
}
.middleTxt p:nth-of-type(2) {
    font-size: 15px;
    line-height: 24px;
    color: #ffffff;
    font-weight: 400;
    font-family: "Source Sans 3";
}
.middleTxt span p {
    font-size: 16px;
    line-height: 29px;
    color: #ffffff;
    font-weight: 700;
    font-family: "Source Sans 3";
}
.middleTxt a {
    text-decoration: none;
}
.middleTxt span {
    display: flex;
    align-items: center;
    gap: 1em;
}
.article3 {
    background-color: #ffffff;
}
.photoFlexParent {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    gap: 5em;
    padding: 5em 0;
}
.photoFlex {
    margin-left: 1em;
    display: flex;
    justify-content: center;
    gap: 1em;
    align-items: center;
}
.banner3 {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 50%;
    word-break: break-word;
    hyphens: auto;
}
.banner3 p:first-child {
    font-size: 18px;
    color: #003d48;
    font-weight: 700;
    font-family: "Source Sans 3";
}
.banner3 p:nth-child(2) {
font-size: 15px;
color: #8c9193;
font-weight: 400;
font-family: "Source Sans 3";
}
.banner3Buttn {
    display: block;
    text-decoration: none;
    color: white;
    background-color: #f77462;
    border: 4px solid #f77462;
    border-radius: 3px;
    text-align: center;
    cursor: pointer;
    width: 4.5em;
    padding: 0.5em 0;
}
footer {
    background-color: #6dc5dd;
}
footer p {
    font-size: 15px;
    color: #ffffff;
    font-weight: 400;
    font-family: "Source Sans 3";
}
footer div {
    display: flex;
}
footer div:first-child {
    justify-content: space-between;
    align-items: center;
    margin: 0 5em;
}
footer div:not(:first-child) {
    gap: 1em;
}