@media (max-width: 600px) {
    form {
        padding: 10px;
    }
    img {
        max-height: 25vh;
    }
}
@keyframes appearGrowShrink {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(5);
        opacity: 1;
    }
    100% {
        transform: scale(1);
        opacity: 1;
    }
}
body {
    font-family: Arial, sans-serif;
    margin: 20px;
}
h1 {
    margin-top: 1.5em;
    text-align: center;
}
h2 {
    margin: 2em 0 1em 7em;
}
mark {
    font-weight: bold;
}
a {
    display: block;
}
.accountTextImage {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-right: 5em;
}
.accountTextImage a:first-of-type {
    margin-right: 0.5em;
}
.accountTextImage img {
    height: 1.5em;
    margin-right: 0.5em;
}
.titleImage {
    display: flex;
    align-items: center;
    margin-left: 1em;
}
.titleImage img {
    height: 3em;
    margin: 1.2em 0 0 1em;
    opacity: 0;
    animation: appearGrowShrink 2s ease-in-out 5s forwards;
}
article p {
    text-align: justify;
    word-break: break-word;
    hyphens: auto;
    padding: 0 25%;
    }
form {
    max-width: 600px;
    margin: 2em auto 0;
    padding: 5px 20px 20px 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
    background-color: #f9f9f9;
    box-sizing: border-box;
}
label:not(fieldset label) {
    display: block;
    margin-bottom: 5px;
}
label:has(+ input[required]):not(fieldset label):after {
    content: ' *';
    color: red;
  }
input:not(fieldset input), select, textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}
button {
    display: block;
    margin: 10px auto 0px;
    width: 40%;
    padding: 10px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}
button:hover {
    background-color: #45a049;
}
fieldset {
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
}
fieldset input[id=newsletter]:first-of-type {
    margin-bottom: 20px
}
fieldset input[type=radio]:not(:last-child) {
    margin-bottom: 20px;
}
fieldset:has(input[required]) legend::after {
    content: " *";
    color: red;
    font-weight: 400;
}
legend {
    padding: 0 10px;
    font-weight: bold;
}
footer {
    display: flex;
    justify-content: space-around;
    gap: 10px;
}
.error {
    border-color: red;
}